In [1]:
#Create a tuple with elements 1,2,3, ‘data’, “science”, 2, 3

t1=(1,2,3,"data","science",2,3)
t1

(1, 2, 3, 'data', 'science', 2, 3)

In [2]:
#Display the third element from the  tuple.

t1[2]

3

In [3]:
#Display every alternate element starting at index 1.

t1[1::2]

(2, 'data', 2)

In [4]:
#Display the number of occurrence of element 2

t1.count(2)

2

In [5]:
#Display the index location of element 3 (perform with exception handling)

t2=(1,9,3,1,2,6,7,1,6,7)
try:
    print(t2.index(7))
except ValueError:
    print("ELEMENT NOT FOUND")

6

In [6]:
#Create a list of n numbers given by the user. Eg: [1,3,5,6,3,2,5,6]

l1=[]
n=int(input("ENTER TOTAL NUMBERS IN LIST:"))
for i in range(n):
    a=int(input("ENTER  VALUE:"))
    l1.append(a)
print(l1)

ENTER TOTAL NUMBERS IN LIST:8
ENTER  VALUE:1
ENTER  VALUE:3
ENTER  VALUE:5
ENTER  VALUE:6
ENTER  VALUE:3
ENTER  VALUE:2
ENTER  VALUE:5
ENTER  VALUE:6
[1, 3, 5, 6, 3, 2, 5, 6]

In [7]:
#Display sum of numbers given in the above created list.

print(sum(l1))

31

In [8]:
#Remove duplicate elements from the above created list.

print(list(set(l1)))

[1, 2, 3, 5, 6]

In [10]:
#Extend the list with the tuple created above. (extend method of list)

l1.extend(t1)
print(l1)

[1, 3, 5, 6, 3, 2, 5, 6, 1, 2, 3, 'data', 'science', 2, 3, 1, 2, 3, 'data', 'science', 2, 3]