In [14]:
import pymongo

# Replace with your actual connection string
CONNECTION_STRING = "mongodb+srv://hirendholap:hiren1234@.ddbwy1k.mongodb.net/employee_cluster_2"

client = pymongo.MongoClient(CONNECTION_STRING)
db = client["employeee"]  # Access the 'employee' database
collection = db["employeedetailss"]  # Access the 'employeedetails' collection

In [19]:
# 8.2 Insert a dummy document
dummy_document = {"test": "This is a test document"}
collection.insert_one(dummy_document)

# 8.3 Insert a single document
john_doc = {
    "Name": "John",
    "Contact": 9999999911,
    "Email": "j@ymail.com"
}
collection.insert_one(john_doc)

# 8.4 Insert multiple documents
docs = [
    {"Name": "Jane", "Contact": 8888888822, "Email": "jane@ymail.com"},
    {"Name": "Bob", "Contact": 7777777733, "Email": "bob@gmail.com"}
]
collection.insert_many(docs)

InsertManyResult([ObjectId('663b16caeb4ad0209c5726f5'), ObjectId('663b16caeb4ad0209c5726f6')], acknowledged=True)

In [16]:
# 8.5 Find the first document
first_doc = collection.find_one()
print(first_doc)

# 8.6 Find all documents
for doc in collection.find():
    print(doc)

# 8.7 Find by email ID
result = collection.find_one({"Email": "j@ymail.com"})
print(result)

{'_id': ObjectId('663b14faeb4ad0209c5726ef'), 'test': 'This is a test document'}
{'_id': ObjectId('663b14faeb4ad0209c5726ef'), 'test': 'This is a test document'}
{'_id': ObjectId('663b14fceb4ad0209c5726f0'), 'Name': 'John', 'Contact': 9999999911, 'Email': 'j@ymail.com'}
{'_id': ObjectId('663b14fceb4ad0209c5726f1'), 'Name': 'Jane', 'Contact': 8888888822, 'Email': 'jane@ymail.com'}
{'_id': ObjectId('663b14fceb4ad0209c5726f2'), 'Name': 'Bob', 'Contact': 7777777733, 'Email': 'bob@gmail.com'}
{'_id': ObjectId('663b14fceb4ad0209c5726f0'), 'Name': 'John', 'Contact': 9999999911, 'Email': 'j@ymail.com'}

In [17]:
# 8.8 Update email ID
collection.update_one({"Email": "j@ymail.com"}, {"$set": {"Email": "j@gmail.com"}})

# 8.9 Delete document
collection.delete_one({"Email": "j@gmail.com"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000036'), 'opTime': {'ts': Timestamp(1715148103, 17), 't': 54}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1715148103, 17), 'signature': {'hash': b'qZ\xec!\x7f\xdb\xf0mc\xccr2\x1c{ >\xf8\xe75\xb7', 'keyId': 7308698246480658438}}, 'operationTime': Timestamp(1715148103, 17)}, acknowledged=True)

In [18]:
# 8.10 List collections
collection_names = db.list_collection_names()
print(collection_names)

['employeedetailss']